/* CSS appliqué à toute la page */
*{
    /* border: 1px dashed blue; */
    box-sizing: border-box;
    /* border: 1px dashed white;
    background-color: rgba(0,0,0,0.1); */
}

/* CSS appliqué au body */
body {
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
    background-color: #F8FAFC;
    margin: 0;
}

/* CSS appliqué au header */
header {
    background-color: #334155;
    color: #F8FAFC;
    max-width: 1200px;
    margin: auto;
}

header a {
    color: white ;
}

.headerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    /* TODO voir pourquoi affichage header desktop problématique */
}

.logo {
    align-self: center;
    order:1 ;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.headerCentralUnit {
    order:2 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.languageBox {
    display: flex;
    align-items: center;
    order: 2;
    height: 60px;
    color: #F8FAFC;
    padding: 20px;
    margin-top: 5px;
}

.buttonLanguage {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.tagLanguage {
    width: 18px;
    height: 18px;
    color: #F8FAFC;
    font-size: 18px;
    font-weight: 100;
}

.triangle {
  width: 10px;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid currentColor;
  color: #F8FAFC;

}

.searchBlock {
    display: flex;
    flex-grow: 2;
    order: 3;
    height: 60px;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 5px;
}

.searchForm {
    flex-grow: 2;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchBar {
    flex: 1;
    border-radius : 40px;
    border: none;
    /* padding-left: 12px; : a pour effet de coller le bouton connexion */
    height: 30px;
    width: 100%;
}

.searchButton {
    display: inline;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.searchIcon {
    width: 25px;
    height: 25px;
}

.createAccount {
    height: 60px;
    width: 120px;
    align-content: center;
    text-align: center;
    order: 4;
    font-size: 18px;
    font-weight: 100;
    color: #F8FAFC;
    background-color: #334155;
    text-decoration: none;
    border: none;
    margin-top: 5px;
}
.createAccount:hover {
    height: 60px;
    width: 120px;
    align-content: center;
    order: 4;
    font-size: 18px;
    background-color: #F8FAFC;
    color: #334155;
}

.menu {
    display: flex;
    align-content: center;
    align-items: center;
    order: 5;
    border-color: #F8FAFC;
    height: 60px;
    padding: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}

/* .menu li {

} */

.menuLink {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 100;
}

.menuLink:hover {
    background-color: #F8FAFC;
    color: #334155;
}

.CTA1 {
    align-self: center;
    text-align: center;
    align-content: center;
    order:3;
    height: 150px;
    width: 150px;
    background-color: #D1FAE5;
    color: #334155;
    text-decoration: none;
    border-radius: 5%;
    border-color: #000000;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.CTA1:hover {
    text-decoration: underline;
    background-color: #059364;
    color: #F8FAFC;
}

/* Main */

main {
    max-width: 1200px;
    margin: auto;
    min-height: 80vh;
    background-color: #FFFFFF;
}

.hookSection {
    display:flex;
    flex-direction: column;
}

h1 {
    color: #1E293B;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

hr {
    width: 90%;
    color:#334155;    
}

.slogan {
    color: #475569; 
    font-size: 30px;
    text-align: center;
    font-weight: 800;   
}

.CTA2 {
    align-self: center;
    text-align: center;
    align-content: center;
    height: 80px;
    width: 300px;
    background-color: #D1FAE5;
    color: #334155;
    text-decoration: none;
    border-radius: 5%;
    border-color: #334155;
    font-weight: 600;
    margin-bottom: 10px;
}

.CTA2:hover {
    text-decoration: underline;
    background-color: #059364;
    color: #F8FAFC;
}

.descriptionSection {
    background-color: #F1F5F9;
    color: #1E293B;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.descriptionParagraph1 {
    text-align: center;
    color: #334155;
    font-size: 24px;
}

.descriptionParagraph2 {
    text-align: center;
    color: #334155;
    font-size: 26px;
    font-weight: 800;
}

.optionsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 24px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.cardsOptions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:   #FFFFFF;
    color: #334155;
    font-weight: 600;
    border-color: #334155;
    border-radius: 5px;
    box-shadow: #E2E8F0;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
    overflow: hidden;
    outline-offset: -6px; 
}

    /* Détacher la bordure de la card */
.cardsOptions::before {
    content: "";
    position: absolute;
    inset: 12px;
    border-radius: 3px;
    border: 1px solid #334155;
    pointer-events: none;
}

/* Footer */

footer {
    background-color: #334155;
    color: #F8FAFC;
    max-width: 1200px;
    margin: auto;
}

.footerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.aboutBox {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    border-color: #F8FAFC;
    width: 200px;
}

.aboutBox span {
    text-decoration: underline;
    font-size: 18px;
}

.aboutLink {
  text-decoration: none;
  color: #F8FAFC;
  font-size: 16px;
  font-weight: 100;
}

.aboutLink:hover {
    text-decoration: underline;
    color: #F8FAFC;
}

.logoFooter {
    height: 100px;
    width: 100px;
    /* padding-top: 10px; */
    margin-top: 10px;
    border-radius: 5px;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttonSocialMedia {
    height: 24px;
}

.infoBox {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.infoBoxLink {
    text-decoration: none;
    color: #F8FAFC;
    font-size: 16px;
    font-weight: 100;
}

.infoBoxLink:hover {
    text-decoration: underline;
    color: #F8FAFC;
}

.infoBox span {
    text-decoration: underline;
    font-size: 18px;
}

.copyrightBox {
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;
    margin: 10px;
}

/* CSS Page Contact */

.contactSection {
    background-color: #FFFFFF;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-left: 200px;
    padding-right: 200px; */


    /* margin-top: 30px;
    padding-bottom: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 12px #b6b6b6; */
    /* min-height: 80vh; */

}

/* .contactPageIntro {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* .pageTitleBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.h1Contact {
    display: block;
    color: #475569; 
    font-size: 30px;
    text-align: center;
    font-weight: 800; 
}

.pageParagraphBox {
    padding-bottom: 20px;
}
.contactP {
    display: block;
    font-size: 18px;
}

.contactFormSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* TODO Le code ci-dessous est nécessaire pour aligner le bouton envoyer mais il dérange le reste du formulaire (peut aussi être appliqué à contactFormSection)
.form {
    text-align: center;
} */

label {
    font-size: 18px;
}

.inputFields {
    font-size: 17px;
}

.idBlock {
    padding-bottom: 10px;
}

.rowId {
    display: inline;
}

.messageLabel {
    display: block;
    padding-bottom: 10px;
}

.required {
    color: crimson;
}

.cityAndCodeBlock {
    padding-top: 10px;
    padding-bottom: 10px;
}

#firstName, #name, #email, #phone, #address, #city, #postalCode, #message {
    width: 300px;
}

.addressBlock {
    display: inline;
    gap: 20px;
}

#subject {
    font-size: 17px;
}

#message {
    width: 770px;
}

.emailBlock, .phoneBlock, .rowAddress, .subjectBlock, .messageBlock, .submitFormButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submitFormButton {
    display: flex;
    justify-content: center;
}
.submitButton {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    background-color: #475569;
    color:  #F8FAFC;
    border-radius: 5px;
    border-color: #475569;
}

.submitButton:hover {
    background-color: #059364;
    color: #F8FAFC;
    border-color: #475569;
    /* Couleur alternative : 
    background-color: #F1F5F9;
    color: #1E293B; */    
}

/* CSS de Page Wishlist */

.h1Wishlist {
    display: block;
    color: #475569; 
    font-size: 30px;
    text-align: center;
    font-weight: 800; 
}

.wishlistBanner {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.wishlistDescriptionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 60px 40px 60px;
}

.wishlistDescriptionParagraph {
    color: #475569;
}

.personalDataSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #F1F5F9;
    color: #1E293B;
    border: 1px solid #1E293B;
    /* margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
}

.eventDataSection {

}

.eventDataParagraph {
    color: #475569;
}

.wishlistSeparation {
    color: #1E293B;
}

/* .wishlistHr {
    color: #F1F5F9;
} */

.idDataSection {
    color: #475569;
}

.wishlistProductsSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.filterBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.filterParagraph {
    display: inline;
    color: #334155;
    border: 1px solid #334155;
    padding: 20px 60px 20px 60px;
}

/* Responsive pour mobile */
@media screen and (max-width: 600px) {

    /* Header mobile */

.headerBox {
    flex-direction: column;
}

.headerCentralUnit {
    flex-direction: column;
    align-items: center;
}

.languageBox {
    height: 15px;
}

.searchBlock {
    width: 70%;
}

    /* Main mobile */

.optionsList {
    padding-left: 80px;
    padding-right: 80px;
}

    /* Footer mobile */

.footerBox {
    flex-direction: column;
    align-items: center;
}

.footerBox ul{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-left: 20px;
    text-align: left;
}

.aboutBox span {
    text-align: center;
}

.infoBox span {
    text-align: center;
}

.aboutBox,
.infoBox {
    width: 260px;
    text-align: left;
}

.aboutBoxList {
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoBoxList {
    padding-top: 20px;
    padding-bottom: 20px;
}

    /* CSS page contact Mobile */

.idBlock {
    padding-bottom: 0px;
}


.rowId {
    display: block;
}

label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.cityAndCodeBlock {
    padding: 0px;
}

#message {
    width: 300px;
}

.emailBlock, .phoneBlock, .rowAddress, .subjectBlock, .messageBlock, .submitFormButton {
    padding-top: 0px;
    padding-bottom: 0px;
}

.submitButton {
    margin-top: 10px;
}

/* CSS Page Wishlist Mobile */

.wishlistDescriptionSection {
    padding: 40px 30px 40px 30px;
}
.personalDataSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F1F5F9;
    color: #1E293B;
}

.eventDataParagraph {
    padding: 0px 20px 0px 20px;
}

.wishlistSeparation {
    color: #F1F5F9;
}

.idDataParagraph {
    padding: 0px 20px 0px 20px;
}

/* .wishlistHr {
    color: #1E293B;
    width: 200px;
} */

.filterBox {
    justify-content: center;
    gap: 10px;
}

.filterParagraph {
    padding: 20px 40px 20px 40px;
}

}

/* Responsive layout intermédiaire */
@media (min-width: 601px) and (max-width: 1190px) {

.headerBox {
    flex-direction: column;
    align-items: center;
}

.headerCentralUnit {
    justify-content: center;
}

/* CSS Page Contact layout intermédiaire */

.rowId {
    display: block;
}

label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.inputFields {
    padding-bottom: 10px;
}

.cityAndCodeBlock {
    padding: 0px;
}

#message {
    width: 300px;
}

.emailBlock, .phoneBlock, .rowAddress, .subjectBlock, .messageBlock, .submitFormButton {
    padding-top: 0px;
    padding-bottom: 0px;
}

.submitButton {
    margin-top: 10px;
}

}

/* Proposition palette 2

Fond principal        #F8FAFC   (gris très clair)
Fond section secondaire #F1F5F9
Fond cartes           #FFFFFF
Bordures              #E2E8F0

Texte principal       #1E293B
Texte secondaire      #475569
Texte section 2ndaire   #1E293B

Fond header           #334155   (gris bleuté foncé)
Texte header          #F8FAFC

Fond bouton           #475569   (gris bleuté)
Texte                 #F8FAFC
Contraste             7.4:1 ✅ WCAG AAA

Fond bouton           #64748B   (gris bleuté moyen)
Texte                 #FFFFFF
Contraste             4.9:1 ✅ WCAG AA

Header CTA hover : #334155
Body CTA hover   : #475569

Header CTA alternatif : #D1FAE5
Texte : #334155

*/

/* Propositions couleurs 1 */
/* Bleu principal        #2563EB
Bleu clair (hover)    #3B82F6
Gris très clair (fond)#F9FAFB
Gris clair (cartes)   #E5E7EB
Gris foncé (texte)    #1F2937
Vert action (succès)  #22C55E */

/* Bouton hover CTA :
    background-color: #04724D;
    background-color: #3A846B;
    background-color: #508976;
    background-color: #72BBA3; */

/* Fond général        → Gris très clair
Header / navbar     → Bleu principal
Cartes produits     → Blanc
Texte principal     → Gris foncé
Boutons principaux  → Bleu principal
Boutons secondaires → Gris clair
Actions positives   → Vert */