/* CSS appliqué à toute la page */
*{
    /* border: 1px dashed blue; */
    box-sizing: border-box;
}

/* CSS appliqué au body */
body {
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
    background-color: #F8FAFC;
    margin: 0;
    /* TODO - Fait : mettre margin: 0 */
}

/* CSS appliqué au header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: #334155;
    color: #F8FAFC;
    max-width: 1200px;
    margin: auto;
}

.headerBox {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.logo {
    align-self: center;
    order:-3 ;
    height: 150px;
    margin-left: 5px;
}

.languageBox {
    align-items: flex-start;
    order: -2;
    color: #F8FAFC;
}

.buttonLanguage {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.tagLanguage {
    width: 15px;
    height: 15px;
    color: #F8FAFC;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid currentColor;
  color: #F8FAFC;
  margin-left: 5px;
}

.searchBlock {

}

.searchForm {
    flex-grow: 2;
}

.searchBar {
    border-radius : 40px;
    order:-1
}

.searchButton {
    width: 25px;
    height: 25px;
}

.searchIcon {
    width: 25px;
}

.CTA1 {
    align-self: center;
    order:3;
    height: 150px;
    width: 150px;
    background-color: #D1FAE5;
    color: #334155;
    border-radius: 10%;
    border-color: #000000;
    font-weight:600;
    margin-right: 5px;
}

main {
    max-width: 1200px;
    margin: auto;
}


/* Proposition palette 2

Fond principal        #F8FAFC   (gris très clair)
Fond cartes           #FFFFFF
Bordures              #E2E8F0

Texte principal       #1E293B
Texte secondaire      #475569

Fond header           #334155   (gris bleuté foncé)
Texte header          #F8FAFC

Fond bouton           #475569   (gris bleuté)
Texte                 #F8FAFC
Contraste             7.4:1 ✅ WCAG AAA

Fond bouton           #64748B   (gris bleuté moyen)
Texte                 #FFFFFF
Contraste             4.9:1 ✅ WCAG AA

Header CTA hover : #334155
Body CTA hover   : #475569

Header CTA alternatif : #D1FAE5
Texte : #334155



*/

/* Propositions couleurs 1 */
/* Bleu principal        #2563EB
Bleu clair (hover)    #3B82F6
Gris très clair (fond)#F9FAFB
Gris clair (cartes)   #E5E7EB
Gris foncé (texte)    #1F2937
Vert action (succès)  #22C55E */

/* Fond général        → Gris très clair
Header / navbar     → Bleu principal
Cartes produits     → Blanc
Texte principal     → Gris foncé
Boutons principaux  → Bleu principal
Boutons secondaires → Gris clair
Actions positives   → Vert */