@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* CSS appliqué à toute la page */
*{
    box-sizing: border-box;
}

/* CSS appliqué au body */
body {
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
    background-color: #F8FAFC;
    margin: 0;
}

/* CSS appliqué au header */
header {
    background-color: #334155;
    color: #F8FAFC;
    max-width: 1200px;
    margin: auto;
}

header a {
    color: white ;
}

.headerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.logo {
    align-self: center;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.headerCentralUnit {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right:5px;
}

.languageBox {
    display: flex;
    align-items: center;
    height: 60px;
    color: #F8FAFC;
    padding: 20px;
    margin-top: 5px;
}

.buttonLanguage {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.tagLanguage {
    width: 18px;
    height: 18px;
    color: #F8FAFC;
    font-size: 18px;
    font-weight: 400;
}

.triangle {
  width: 10px;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid currentColor;
  color: #F8FAFC;

}

.searchBlock {
    display: flex;
    flex-grow: 2;
    height: 60px;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 5px;
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.searchBar {
    flex: 1;
    border-radius : 40px;
    border: none;
    height: 30px;
    width: 100%;
}

.searchButton {
    display: inline;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.searchIcon {
    width: 25px;
    height: 25px;
}

.createAccount {
    height: 60px;
    width: 120px;
    align-content: center;
    text-align: center;
    order: 4;
    font-size: 18px;
    font-weight: 400;
    background-color: #334155;
    color: #F8FAFC;
    text-decoration: none;
    border: none;
    margin-top: 5px;
}
.createAccount:hover {
    height: 60px;
    width: 120px;
    align-content: center;
    order: 4;
    font-size: 18px;
    font-weight: 400;
    background-color: #F8FAFC;
    color: #334155;
}

.menu {
    display: flex;
    align-content: center;
    align-items: center;
    order: 5;
    border-color: #F8FAFC;
    height: 60px;
    padding: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menuLink {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}

.menuLink:hover {
    background-color: #F8FAFC;
    color: #334155;
}

.CTA1 {
    align-self: center;
    text-align: center;
    align-content: center;
    order:3;
    height: 150px;
    width: 150px;
    background-color: #D1FAE5;
    color: #334155;
    text-decoration: none;
    border-radius: 5%;
    border-color: #000000;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.CTA1:hover {
    text-decoration: underline;
    background-color: #046248;
    color: #F8FAFC;
}

/* Main */

main {
    max-width: 1200px;
    margin: auto;
    min-height: 80vh;
    background-color: #FFFFFF;
}

.hookSection {
    display:flex;
    flex-direction: column;
}

h1 {
    color: #1E293B;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

hr {
    width: 90%;
    color:#334155;    
}

.slogan {
    color: #475569; 
    font-size: 30px;
    text-align: center;
    font-weight: 800;   
}

.CTA2 {
    align-self: center;
    text-align: center;
    align-content: center;
    height: 80px;
    width: 300px;
    background-color: #D1FAE5;
    color: #334155;
    text-decoration: none;
    border-radius: 5%;
    border-color: #334155;
    font-weight: 600;
    margin-bottom: 10px;
}

.CTA2:hover {
    text-decoration: underline;
    background-color: #046248;
    color: #F8FAFC;
}

.descriptionSection {
    background-color: #F1F5F9;
    color: #1E293B;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.descriptionParagraph1 {
    text-align: center;
    color: #334155;
    font-size: 24px;
}

.descriptionParagraph2 {
    text-align: center;
    color: #334155;
    font-size: 26px;
    font-weight: 800;
}

.optionsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 24px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.cardsOptions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:   #FFFFFF;
    color: #334155;
    font-weight: 600;
    border-color: #334155;
    border-radius: 5px;
    box-shadow: #E2E8F0;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
    overflow: hidden;
    outline-offset: -6px; 
}

    /* Détacher la bordure de la card */
.cardsOptions::before {
    content: "";
    position: absolute;
    inset: 12px;
    border-radius: 3px;
    border: 1px solid #334155;
    pointer-events: none;
}

/* Footer */

footer {
    background-color: #334155;
    color: #F8FAFC;
    max-width: 1200px;
    margin: auto;
}

.footerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.aboutBox {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    border-color: #F8FAFC;
    width: 200px;
}

.aboutBox span {
    text-decoration: underline;
    font-size: 18px;
}

.aboutLink {
  text-decoration: none;
  color: #F8FAFC;
  font-size: 16px;
  font-weight: 300;
}

.aboutLink:hover {
    text-decoration: underline;
    color: #F8FAFC;
}

.logoFooter {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttonSocialMedia {
    height: 24px;
}

.infoBox {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.infoBoxLink {
    text-decoration: none;
    color: #F8FAFC;
    font-size: 16px;
    font-weight: 300;
}

.infoBoxLink:hover {
    text-decoration: underline;
    color: #F8FAFC;
}

.infoBox span {
    text-decoration: underline;
    font-size: 18px;
}

.copyrightBox {
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;
    margin: 10px;
}

/* CSS Pages Formulaires */

.contactSection, .addProductSection, .createWishlistSection, .loginIntroSection, .signupSection {
    background-color: #FFFFFF;
    max-width: 1200px;
    margin: auto;
    padding : 0px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1AddProduct,.h1Contact,.h1FormPages, .h1CreateWishlist {
    display: block;
    color: #475569; 
    font-size: 30px;
    text-align: center;
    font-weight: 800; 
}

.pageParagraphBox {
    padding-bottom: 20px;
}

.pageParagraphLoginForgotBox {
    padding-bottom: 15px;
}

.contactP, .addProductP, .addWishlistP, .loginP, .signupP {
    display: block;
    font-size: 18px;
    text-align: justify;
}

.loginForgot {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 0;      
}

.contactFormSection, .addProductFormSection, .createWishlistFormSection, .loginFormSection, .signupFormSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 0px 20px 0px 20px;
}

.formCard {
    width: 100%;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
}

.contactIdBlock, .contactEmailBlock, .contactPhoneBlock, .contactAddress, .addressBlock, .contactSubjectBlock {
    padding-bottom: 20px;
}

#subject {
    width: 100%;
}

.contactMessageBlock{
    padding-bottom: 5px;
}

label {
    font-size: 17px;
}

.inputFields {
    font-size: 17px;
    width: 100%;
    color: #1E293B;
}

.inputFields:focus {
    border-color: #475569;
}

.idBlock {
    padding-bottom: 10px;
}

.messageLabel, .descriptionAddProductLabel {
    display: block;
}

.required {
    color: crimson;
}

/* Présent sur page Contact & Inscription */
.cityAndCodeBlock {
    padding-top: 10px;
    padding-bottom: 10px;
}

#userName, #firstName, #name, #email, #password1, #password2, #phone, #address, #city, #postalCode, #country, #message {
    width: 100%;
}

select {
    background-color : #FFFFFF;
    border: 1px solid #1E293B;
}

#subject, #categoryAddProduct, #priorityAddProduct, #typeOfWishlist {
    font-size: 17px;
}

#categoryAddProduct, #priorityAddProduct {
    width: 100%;
}

#message, #descriptionAddProduct {
    width: 100%;
}

.emailBlock, .contactIdBlock, .signupIdBlock, .rowPass, .addressBlock, .phoneBlock, .rowAddress, .rowCountry, .messageBlock, .submitFormButton, .titleAddProductBlock, .shopAddProductBlock, .priceAddProductBlock,  .quantityAddProductBlock, .categoryAddProductBlock, .priorityAddProductBlock, .descriptionAddProductBlock, .imageAddProductBlock, .linkAddProductBlock, .titleCreateWishlistBlock, .dateCreateWishlistBlock, .typeOfWishlistBlock, .descriptionCreateWishlistBlock, .keepSurpriseBlock {
    padding-top: 10px;
    padding-bottom: 5px;
}

.loginFormCard {
    max-width: 600px;
    padding : 0px 15px 0px 15px;
}

.loginEmailBlock {
    max-width: 350px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.loginRowPass {
    max-width: 350px;
    padding-bottom: 10px;
}

#typeOfWishlist {
    width: 100%;
}

.submitFormButton {
    display: flex;
    justify-content: center;
}
.submitButton {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    background-color: #475569;
    color:  #F8FAFC;
    border-radius: 5px;
    border-color: #475569;
}

.submitButton:hover {
    background-color: #046248;
    color: #F8FAFC;
    border-color: #475569;   
}

/* CSS Page Inscription */

.userNameBlock {
    padding-bottom: 10px;
}

/* CSS Page Ajout article */

/* CSS Page Création de liste */
/* .keepSurpriseBlock {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap:8px;    
} */

/* .keepSurpriseBlock {
    padding-top: 10px;
    padding-bottom: 5px;
} */


.keepSurpriseBlock label {
    display:inline;
}

#keepSurprise {
    vertical-align: middle;
    height: 12px;
    margin-top: 0.5px;
}

/* CSS de Page Wishlist */

.h1Wishlist {
    display: block;
    color: #475569; 
    font-size: 30px;
    text-align: center;
    font-weight: 800; 
}

.wishlistBanner {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.wishlistDescriptionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 60px 40px 60px;
}

.wishlistDescriptionParagraph {
    color: #475569;
}

.personalDataSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #F1F5F9;
    color: #1E293B;
    border: 1px solid #1E293B;
    margin: 0px 10px 0px 10px;
}

.eventDataParagraph {
    color: #475569;
}

.wishlistSeparation {
    color: #1E293B;
}

.idDataSection {
    color: #475569;
}

.wishlistProductsSection {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-color: #FFFFFF;
}

.filterBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 20px;
}

#filterCategory {
    display: inline;
    text-align: justify;
    height: 60px;
    background-color: #FFFFFF;
    color: #334155;
    font-size: 16px;
    border: 1px solid #334155;
    padding: 20px 10px 20px 10px; 
    margin-top: 10px;
    width: 200px;  
}

#sortItems {
    display: inline;
    height: 60px;
    background-color: #FFFFFF;
    color: #334155;
    font-size: 16px;
    border: 1px solid #334155;
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    width: 200px;     
}

.filterLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}   

.sortItemsLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;        
}

.wishlistProductsSectionCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    background-color: #F1F5F9;
    color: #1E293B;
    border: 1px solid #1E293B;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.productCardImage {
    display: flex;
    align-items: center;
    width: 125px;
}

.productCardImage img {
    width: 100%;
    /* Recadre l'image pour remplir le carré       */
    object-fit: cover;
    object-position: left;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px #1E293B;
    background-color: #FFFFFF;
    padding: 1px;
}

.productCardDetails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.productCardDetailsNameAndCat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productCardDetailsName {
    display: inline-block;
    font-size: 18px;
    width: 100%;
    text-decoration: underline;
    color: #1E293B;
}

.productCardDetailsCategory {
    margin: 0;
    text-align:center;
    background-color: #FFFFFF;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #1E293B;
    padding: 10px 10px 10px 10px;
    margin-left: 5px;
}

.productCardDetailsShopAndDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productCardDetailsShop {
    margin: 0;
    font-size: 17px;
    color: #1E293B;
}

.productCardDetailsDescription {
    max-width : 600px;
    text-align: justify;
    font-size: 18px;
    color: #1E293B;
}

.productCardDetailsModifyAndMove {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.productCardDetailsModifyAndMove button {
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1E293B;
    padding: 10px 10px 10px 10px;
}
.productCardDetailsModifyAndMove button:hover {
    text-decoration: underline;
}

.productCardNumbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productCardNumbersDelete {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-self: center;
}

.productCardNumbersDeleteButton {
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1E293B;
    padding: 10px 10px 10px 10px;
}

.productCardNumbersDeleteButton:hover {
    text-decoration: underline;
}

.productCardNumbersPriorityAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 270px;
    gap: 10px;
}

.productCardNumbersPriorityLabel {
    /* CSS pour rendre Priority invisible */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.productCardNumbersPriority {
    height: 40px;
    width: 180px;
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1E293B;
    padding: 10px 5px 10px 5px;
}

.productCardNumbersPrice {
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1E293B;
    padding: 10px 5px 10px 5px;

}

.productCardNumbersNumberAndBuy {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.productCardNumbersNumber {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid #1E293B;   
}

.productCardNumbersNumberLabel {
    /* CSS pour rendre Label invisible */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.productCardNumbersBuy {
    background-color: #059364;
    color: #F8FAFC;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1E293B;
    padding: 10px 5px 10px 5px;   
}

.productCardDrag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.dragIcons {
    height:20px;
}

/* CSS messages d'erreur ajout produit, wishlist */

.updateProductFormSuccess, .productFormSuccess, .productDeleteSuccess, .signupSuccess, .createWishlistSuccess {
    display: block;
    text-align: center;
    width: 100%;
    color: green !important;
}

.updateProductFormError, .productFormError, .productDeleteError, .loginError, .signupError, .createWishlistError {
    display: block;
    text-align: center;
    width: 100%;
    color: red;
}



/* Responsive pour mobile */
@media screen and (max-width: 646px) {

    /* Header mobile */

.headerBox {
    flex-direction: column;
    align-items: center;
}

.headerCentralUnit {
    flex-direction: column;
    align-items: center;
}

.languageBox {
    height: 15px;
}

.searchBlock {
    width: 70%;
}

.menu {
    padding: 10px; /* Padding réduit */
    height: auto; /* height auto pour s'adapter à la hauteur du contenu sur mobile */
    width: 100%; /* Forcer le menu à occuper toute la largeur dispo pour éviter débordement sur la droite */
    justify-content: center; /* Centrage du menu */
}

.menu ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

/* Réduction de la taille du padding & texte pour s'adapter aux petits écrans */
.menuLink {
    padding: 12px 8px;
    font-size: 16px;
}

    /* Main mobile */

.optionsList {
    padding-left: 80px;
    padding-right: 80px;
}

    /* Footer mobile */

.footerBox {
    flex-direction: column;
    align-items: center;
}

.footerBox ul{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-left: 20px;
    text-align: left;
}

.aboutBox span {
    text-align: center;
}

.infoBox span {
    text-align: center;
}

.aboutBox,
.infoBox {
    width: 260px;
    text-align: left;
}

.aboutBoxList {
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoBoxList {
    padding-top: 20px;
    padding-bottom: 20px;
}

    /* CSS page contact Mobile */

.cityAndCodeBlock {
    padding: 0px;
}

#message {
    width: 100%;
}

.emailBlock, .phoneBlock, .rowAddress, .subjectBlock, .messageBlock, .submitFormButton {
    padding-top: 0px;
    padding-bottom: 0px;
}

.submitButton {
    margin-top: 10px;
}

    /* CSS Page Wishlist Mobile */

.wishlistDescriptionSection {
    padding: 40px 30px 40px 30px;
}
.personalDataSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F1F5F9;
    color: #1E293B;
}

.eventDataParagraph {
    padding: 0px 20px 0px 20px;
}

.wishlistSeparation {
    color: #F1F5F9;
}

.idDataParagraph {
    padding: 0px 20px 0px 20px;
}

.filterBox {
    justify-content: center;
    gap: 10px;
}

.filterParagraph {
    padding: 20px 40px 20px 40px;
}

.productCard {
    padding: 25px 10px 25px 10px;
    flex-direction: row; /* annuler jusqu'ici si nécessaire */
    flex-wrap: wrap;
    align-items: center;
}

.productCardImage {
    width:100% ;
    order: 1;
    display: flex;
    justify-content: center;
}

.productCardDetails {
    width: 100%;
    order: 2;
    align-items: center;
}

.productCardDetailsName {
    width: 100%;
    margin-top: 10px;
}

.productCardDetailsName a {
    height: 19px;
}

.productCardDetailsShop {
    text-align: center;
}

.productCardDetailsDescription {
    width : 100%;
}

.productCardDetailsModifyAndMove {
    justify-content: center;
    padding: 10px 0px 40px 0px;
}

.productCardNumbers {
    flex: 1;
    order: 3;
    align-items: center;
}

.productCardDrag {
    order:3;
    padding : 0px 5px 0px 5px;
}

/* CSS Page Ajout/Modification de Produit Mobile */

#descriptionAddProduct {
    width: 100%;
}

#titleAddProduct, #shopAddProduct, #priceAddProduct, #quantityAddProduct, #imageAddProduct, #linkAddProduct {
    width: 100%;
}

#categoryAddProduct, #priorityAddProduct {
    width: 100%;
}

/* Page CreateWishlist Mobile */

.titleCreateWishlistBlock, .dateCreateWishlistBlock, .typeOfWishlistBlock, .descriptionCreateWishlistBlock, .keepSurpriseBlock {
    padding-bottom: 0px;
}

    /* Mode sombre mobile */

.dark .wishlistSeparation {
    color: #29323f;
}

}

/* Responsive layout intermédiaire */
@media (min-width: 646px) and (max-width: 1190px) {

.headerBox {
    flex-direction: column;
    align-items: center;
}

.headerCentralUnit {
    justify-content: center;
}

/* CSS Page Contact layout intermédiaire */

.rowId {
    display: block;
}

.cityAndCodeBlock {
    padding: 0px;
}

#message {
    width: 100%;
}

.emailBlock, .phoneBlock, .rowAddress, .subjectBlock, .messageBlock, .submitFormButton {
    padding-top: 0px;
    padding-bottom: 0px;
}

.submitButton {
    margin-top: 10px;
}

/* Adaptation responsive de la productCard pour l'affichage intermédiaire avec grid : */

/* Conteneur parent en grid : */
.productCard {
    display: grid;
    /* Utilisation de taille en pixel avec fraction disponible pour répartir l'espace :*/
    grid-template-columns: 125px 1fr 40px;
    /* Adapter la hauteur au contenu pour les deux lignes :*/
    grid-template-rows: auto auto;
    /* Nom des zones et répartition*/
    grid-template-areas:
        "image details drag"
        /* Utilisation de . pour dire à grid de laisser cette cellule vide */
        "image numbers drag";
    align-items: start;
}

/* Indiquer aux enfants du conteneur grid où ils se positionnent : */
.productCardImage {
    grid-area: image;
    align-self: center;
}

.productCardDetails {
    grid-area: details;
    margin-left: 15px;
    align-items: center;
}

.productCardDetailsShop {
    text-align: center;
}

.productCardNumbers {
    grid-area: numbers;
    margin-top: 15px;
    align-items: center;
}

.productCardDrag {
    grid-area: drag;
    align-self: center;
}

}

/* Mode sombre */

.dark body {
    background-color: #020617;
}

.dark header {
    background-color: #1f273a;
    border : 1px solid #F1F5F9;
}

.dark .tagLanguage {
    color: #F1F5F9;    
}

.dark .searchBar::placeholder {
    color: #CBD5E1;
}

.dark header a {
    color: #F1F5F9;
}

.dark .createAccount {
    background-color: #1f273a;
}

.dark .createAccount:hover {
    background-color: #F1F5F9;
    color: #1f273a;
}

.dark .menu {
    border-color: #CBD5E1;
}

.dark .menuLink:hover {
    background-color: #F1F5F9; 
    color: #1f273a;
}

.dark .CTA1 {
    background-color: #064E3B;
    color: #F1F5F9 ;
    border-color: #1f273a;
}

.dark .CTA1:hover {
    background-color: #10B981;
    color: #1f273a;
}

.dark main {
    background-color: #111827;
    border : 1px solid #F1F5F9;
}

.dark h1 {
    color: #CBD5E1;
}

.dark hr {
    color: #F1F5F9;
}

.dark .slogan {
    color: #F1F5F9;
}

.dark .CTA2 {
    background-color: #064E3B;
    color: #F1F5F9 ;
    border-color: #1f273a
}

.dark .CTA2:hover {
    background-color: #10B981;
    color: #1f273a;
}

.dark .descriptionSection {
    background-color: #29323f;
    color: #29323b;
}

.dark .descriptionParagraph1 {
    color: #CBD5E1;
}

.dark .descriptionParagraph2 {
    color: #CBD5E1;
}

.dark .cardsOptions {
    background-color: #0B0F1A;
    color: #F1F5F9;
    box-shadow: #0B0F1A;
    border-color: #29323f;
}

.dark .cardsOptions::before {
    border: 1px solid #FFFFFF;
}

.dark footer {
    background-color: #1f273a;
}

.dark .aboutBox {
    border-color: #CBD5E1;
}

.dark .copyrightBox {
    border-top: 1px solid #F1F5F9;
}

.dark .contactSection, .dark .signupSection, .dark .createWishlistSection, .dark .addProductSection, .dark .loginIntroSection {
    background-color: #29323f;
    color:#F1F5F9;
}

.dark .contactFormSection, .dark .addProductFormSection, .dark .createWishlistFormSection, .dark .loginFormSection, .dark .signupFormSection {
    background-color: #29323f;
    color:#F1F5F9;    
}

.dark .loginFormSection {
    padding-bottom: 320px;
}

.dark .createWishlistFormSection {
    padding-bottom: 130px;
}

.dark .h1Contact {
    color: #F1F5F9;
}

.dark .submitButton {
    background-color: #29323f;
    color: #F1F5F9;
    border-color: #F1F5F9;
}

.dark .submitButton:hover {
    background-color: #046248 ;
    color:#F1F5F9;
    border-color: #29323f;
}

.dark .h1Wishlist, .dark .h1FormPages {
    color: #F1F5F9;
}

.dark .wishlistDescriptionParagraph, .dark .eventDataParagraph, .dark .idDataParagraph  {
    color: #F1F5F9;
}

.dark .personalDataSection{
    background-color: #29323f;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark .wishlistSeparation, .dark .idDataSection {
    color: #F1F5F9;
}

.dark .wishlistProductsSection {
    background-color: #0B0F1A;
}

.dark .filterBox {
    background-color: #111827;
}

.dark #filterCategory, .dark #sortItems {
    background-color: #111827;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark .wishlistProductsSectionCardBox {
    background-color: #111827;
}

.dark .productCard {
    background-color: #29323f;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;

}

.dark .productCardImage img {
    box-shadow:1px 1px 1px 1px #0B0F1A;
    background-color: #29323f;
}

.dark .productCardDetailsName, .dark .productCardDetailsShop, .dark .productCardDetailsDescription {
    color: #F1F5F9;
}

.dark .productCardDetailsCategory {
    background-color: #29323f;
    border: 1px solid #F1F5F9;
}

.dark .productCardDetailsModifyAndMove button, .dark .productCardNumbersDeleteButton, .dark .productCardNumbersPriority, .dark .productCardNumbersPrice {
    background-color: #29323f;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark .productCardNumbersNumberAndBuy input{
    background-color: #29323f;
    color: #F1F5F9;    
}

.dark .productCardNumbersNumber {
    border: 1px solid #F1F5F9;     
}

.dark .productCardNumbersBuy {
    background-color: #10B981;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark .dragIcons {
    fill: #F1F5F9;
}

.dark input {
    background-color: #29323f;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark select {
    background-color: #29323f;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark textarea {
    background-color: #29323f;
    color: #F1F5F9;
    border: 1px solid #F1F5F9;
}

.dark .inputFields::placeholder {
    color: #CBD5E1;
}

.dark .loginLinks {
    color: #CBD5E1;    
}